{% extends "dashboard/base.html" %}

{% load dashboard_extras %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block site_brand %}{{ globals.site_brand }}{% endblock %}

{% block content %}     

    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Transfer</h3>
          </div>
          <div class="panel-body">
            
            <ul class="nav nav-tabs">
            {% for currency in currency_codes %}
			  <li {% if selected_currency == currency %}class="active"{% endif %}><a href="{% url 'transfer:index' %}{{ currency }}"><strong>{{ currency_names|keyvalue:currency }}</strong></a></li>
			{% endfor %}
			</ul>
            <div class="row">&nbsp;</div>
            
            <form action="{% url 'transfer:send' %}" method="post" role="form">
            {% csrf_token %}
            <input type="hidden" name="selected_currency" value="{{ selected_currency }}"/>
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group {% if form.from_address.errors %}has-error{% endif %}">
                    <label for="from_address">From</label>
                    <input type="text" class="form-control fixed-width-font" id="from_address" name="from_address" placeholder="address" value="{{ form.from_address.value }}">
                    {{ form.from_address.errors }}
                  </div>
              </div>

              <div class="col-md-6">
              <label for="">&nbsp;</label>
                <select class="form-control fixed-width-font">
                <option onclick="javascript:updateTransferDialog('', '0.00000000', 'from_address');">select an account</option>
                {% for account in accounts|keyvalue:selected_currency %}
                    {% if account.name %}
                      <option class="fixed-width-font" onclick="javascript:updateTransferDialog('{{ account.addresses.0 }}', '{{ account.balance }}', 'from_address');" >{{ account.name }} - {{ account.addresses.0 }}</option>
                    {% endif %}
                {% endfor %}
                </select>
              </div>
			  
			  <div class="col-md-2">
			  <div class="row">&nbsp;</div>
			  <div class="row"><span class="large-text-1" id="from_address_currency">{{ currency_symbols|keyvalue:selected_currency }}</span> <span class="large-text-1" id="from_address_balance">0.00000000</span></div>
			  </div>


            </div>
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group {% if form.to_address.errors %}has-error{% endif %}">
                    <label for="to_address">To</label>
                    <input type="text" class="form-control fixed-width-font" id="to_address" name="to_address" placeholder="address" value="{{ form.to_address.value }}">
                    {{ form.to_address.errors }}
                  </div>
              </div>
              <div class="col-md-6">
              <label for="">&nbsp;</label>
                <select class="form-control fixed-width-font">
                <option onclick="javascript:updateTransferDialog('', '0.00000000', 'to_address');">select an account</option>
                {% for account in accounts|keyvalue:selected_currency %}
                    {% if account.name %}
                      <option class="fixed-width-font" onclick="javascript:updateTransferDialog('{{ account.addresses.0 }}', '{{ account.balance }}', 'to_address');" >{{ account.name }} - {{ account.addresses.0 }}</option>
                    {% endif %}
                {% endfor %}
                </select>
              </div>
             <div class="col-md-2">
			  <div class="row">&nbsp;</div>
			  <div class="row"><span class="large-text-1" id="to_address_currency">{{ currency_symbols|keyvalue:selected_currency }}</span> <span class="large-text-1" id="to_address_balance">0.00000000</span></div>
			  </div>
            </div>
            
            
            <div class="row">
              <div class="col-md-6">
              <label for="comment">Comment</label>
              <div class="form-group {% if form.comment.errors %}has-error{% endif %}">
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                  <input type="text" class="form-control" name="comment" value="{{ form.comment.value }}">
                </div>
                {{ form.comment.errors }}
              </div></div>
              <div class="col-md-6"></div>
            </div>
            
            
            <div class="row">
              <div class="col-md-4">
              <label for="amount">Amount</label>
              <div class="form-group {% if form.amount.errors %}has-error{% endif %}">
                <div class="input-group">
                  <span class="input-group-addon">{{ currency_symbols|keyvalue:selected_currency }}</span>
                  <input type="text" class="form-control" name="amount" style="text-align:right;" value="{{ form.amount.value }}">
                </div>
                {{ form.amount.errors }}
              </div></div>
              <div class="col-md-6"></div>
            </div>
            
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span>&nbsp;send</button> 
            </form>
    
            <!--   <a class="btn btn-primary" href="{% url 'accounts:add' %}">send</a>-->
          </div>
        </div>
{% endblock %}
