{% extends "dashboard/base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block site_brand %}{{ globals.site_brand }}{% endblock %}

{{ form }}

{% block content %}     
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Transfer</h3>
          </div>
          <div class="panel-body">
            <form action="{% url 'transfer:send' %}" method="post" role="form">
            {% csrf_token %}
            
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="from_account">From</label>
                    <input type="email" class="form-control" id="from_account" name="from_account" placeholder="account address">
                  </div>

              </div>
              <div class="col-md-6">
              <label for="">or</label>
              <div class="input-group">
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">select account <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                {% for currency, account_list in accounts.items %}
                    <li role="presentation" class="dropdown-header">{{ currency|upper }}</li>
                    {% for account in account_list %}
                    {% if account.name %}
                      <li><a href="javascript:setInputValue('{{ account.address }}', 'account_address_from');" class="{{ account.address }}">{{ account.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
              </div><!-- /btn-group -->
            </div><!-- /input-group -->
              
              
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="to_account">To</label>
                    <input type="email" class="form-control" id="to_account" name="to_account" placeholder="account address">
                  </div>
              </div>
              <div class="col-md-6">
              <label for="">or</label>
              <div class="input-group">
               <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">select account <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">Addressbook</li>
                <li class="divider"></li>
                {% for currency, account_list in accounts.items %}
                <li class="divider"></li>
                    <li role="presentation" class="dropdown-header">{{ currency|upper }}</li>
                        {% for account in account_list %}
                        <li><a href="javascript: setInputValue('{{ account.address }}', 'account_address_to');" class="{{ account.address }}">{{ account.name }}</a></li>
                    {% endfor %}
                {% endfor %}
                </ul>
              </div><!-- /btn-group -->
              </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
              <label for="amount">Amount</label>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" name="amount" style="text-align:right;">
                </div>
              </div></div>
              <div class="col-md-6"></div>
            </div>
            
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span>&nbsp;send</button> 
            </form>
    
            <!--   <a class="btn btn-primary" href="{% url 'accounts:add' %}">send</a>-->
          </div>
        </div>
{% endblock %}
