{% extends "dashboard/base.html" %}

{% load static %}

{% load dashboard_extras %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block site_brand %}{{ globals.site_brand }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div id="map" style="height:400px;"></div>
	</div>
</div>
<ul class="nav nav-tabs">
	{% for currency in currency_codes %}
	<li {% if selected_currency == currency %}class="active"{% endif %}>
		<a href="{% url 'network:index' %}{{ currency }}"><strong>{{ currency_names|keyvalue:currency }}</strong></a>
	</li>
	{% endfor %}
</ul>
<div class="panel panel-default no-border-top no-border-radius">

	<!-- Table -->
	<table class="table table-condensed no-border-top no-border-radius vertical-align-middle">
		<thead>
			<th class="text-center">#</th>
			<th>IP : port</th>
			<th>Country</th>
			<th>Version</th>
			<th class="hidden-xs text-center">In / Out</th>
			<th class="hidden-xs text-center">Last Send/Rec.</th>
			<th class="hidden-sm hidden-xs text-center">Connect Time</th>
			<th class="hidden-sm hidden-xs text-center">Ban Score</th>
			<th class="hidden-sm hidden-xs text-center">Sync Node</th>
		</thead>
		<tbody>
			{% for peer in peers %}
			<tr>
				<td class="text-center"><span class="label label-primary">{{ forloop.counter }}</span></td>
				<td>{{ peer.addr }}</td>
				<td>{{ peer.country }} ({{ peer.city }})</td>
				<td>{{ peer.subver }}</td>
				<td class="hidden-xs text-right">
					<p class="text-success">{{ peer.in }} <span class="glyphicon glyphicon-circle-arrow-down"></span></p>
					<p class="text-danger">{{ peer.out }} <span class="glyphicon glyphicon-circle-arrow-up"></span></p>
				</td>
				<td class="hidden-xs text-right">
					<p class="text-success">{{ peer.lastrecv }} <span class="glyphicon glyphicon-circle-arrow-down"></span></p>
					<p class="text-danger">{{ peer.lastsend }} <span class="glyphicon glyphicon-circle-arrow-up"></span></p>
				</td>
				<td class="hidden-sm hidden-xs text-center">{{ peer.conntime }}</td>
				<td class="hidden-sm hidden-xs text-center">{{ peer.banscore }}</td>
				<td class="hidden-sm hidden-xs text-center">
					{% if peer.syncnode %}
					<span style="color: #1C9E3F;" class="bigger-icon glyphicon glyphicon-ok-circle"></span>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

<link rel="stylesheet" type="text/css" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/leaflet.awesome-markers.css' %}">
<script type='text/javascript' src="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script type='text/javascript' src="{% static 'dashboard/js/leaflet/leaflet.awesome-markers.min.js' %}"></script>
   
<script>

var userLocation = new L.LatLng('{{ userinfo.lat }}', '{{ userinfo.lon }}');
var map = L.map('map', {
      	center: userLocation,
    	zoom: 2,
        worldCopyJump: true,
      });
     
L.tileLayer('//{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
    styleId: 999,
    key : '699736f928ae42ac843ca20ec4b5f664',
    detectRetina: true,
    attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade. Font Awesome by Dave Gandy',
}).addTo(map);


var marker = new L.Marker(userLocation, {
	icon: L.AwesomeMarkers.icon({icon: 'home', prefix: 'icon', markerColor: 'purple'})
});
map.addLayer(marker);


var items = [
{% for peer in peers %}
{
    lat: "{{ peer.lat }}",
    lon: "{{ peer.lon }}"
},
{% endfor %}
];

drawData();

//draw all the data on the map
function drawData() {
    var item, o;
    //draw markers for all items
    for (item in items) {
        o = items[item];
        var loc = new L.LatLng(o.lat, o.lon);
        createPolyLine(loc, userLocation);
    }
}

//draw polyline
function createPolyLine(loc1, loc2) {
    
    var latlongs = [loc1, loc2];
    if (Math.abs(loc1.lng - loc2.lng) > 180) {
        latlongs = [loc1.wrap(179, -179), loc2];
    }
    var polyline = new L.Polyline(latlongs, {
        color: '#4FEE1D',
        opacity: 1,
        weight: 1,
        clickable: false
    }).addTo(map);

    //distance
    var s = '<strong>About</strong> ' + (loc1.distanceTo(loc2) / 1000).toFixed(0) + 'km away from you.</p>';

    var marker = L.marker(loc1, {
    	icon: L.AwesomeMarkers.icon({icon: 'map-marker', prefix: 'icon', markerColor: 'blue'})
    }).addTo(map);
    if (marker) {
        marker.bindPopup(s);
    }

}


</script>

{% endblock %}