{% load i18n %}
{% load staticfiles %}
{% load url from future %}
{% load dashboard_extras %}
<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'dashboard/css/extra.css' %}" rel="stylesheet" media="screen">
<!-- added theme from http://startbootstrap.com/templates/sb-admin/ -->
<link href="{% static 'dashboard/css/sb-admin.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'dashboard/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/extra.js' %}"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
<style>
.form-group { 
	margin-bottom: 0px; 
}
</style>
</head>
<body>
   <div class="container"> 
   <div class="holder">     
     <div id="popup" class="popup">            
         <div class="content">
        
        
	        <div class="panel panel-primary">
	            <div class="panel-heading">
	                <div class="row">
	                  <div class="col-xs-6"><h3 class="panel-title">{% trans "Login" %}</h3></div>
	                  <div class="col-xs-6 text-right"></div>
	                </div>
	            </div>
	            {% if not request|issecure %}
	            <div class="fat-row alert-danger">
				  <div class="row"><div class="col-md-1 tiny-col"><span class="glyphicon glyphicon-minus-sign message-icon"></span></div><div class="col-md-9 alert-message">No SSL connection detected!</div></div>
				</div>
				{% else %}
				<div class="fat-row alert-success">
				  <div class="row"><div class="col-md-1 tiny-col"><span class="glyphicon glyphicon-lock message-icon"></span></div><div class="col-md-9 alert-message">Secure connection detected!</div></div>
				</div>
				{% endif %}
                <div class="panel-body">
                
				<form role="form" action="{% url 'login:processLogin' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="next_url" value="{{ next_url }}"/>
				<label for="username">{% trans "Username" %}</label>
				  <div class="form-group {% if form.username.errors %}has-error{% endif %} input-group">
				    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
				    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" value="{{ form.username.value }}">
				  </div>
				  {% if form.username.errors %}
				  <div class="red-font">{{ form.username.errors|striptags }}</div>
				  {% endif %}
				  <div class="row">&nbsp;</div>
				  <label for="username">{% trans "Password" %}</label>
				  <div class="form-group {% if form.password.errors %}has-error{% endif %} input-group">
				    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
				  </div>
				  {% if form.password.errors %}
				  <div class="red-font">{{ form.password.errors|striptags }}</div>
				  <br/>
				  {% endif %}
				  <div class="checkbox">
				    <label>
				      <input type="checkbox" name="remember" value="True" {% if form.remember.value %}checked="1"{% endif %}/> {% trans "Remember me" %}
				    </label>
				  </div>
					{% if main_error %}
					<div class="alert alert-danger">{{ main_error }}</div>
					{% endif %}
				  <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
				</form>
             </div>
         </div>
       </div>
     </div>
	</div>
  </div>
</div>
</div><!-- /container -->
</body>
</html>
