{% extends "dashboard/base.html" %}
{% load dashboard_extras %}
{% load url from future %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block site_brand %}{{ globals.site_brand }}{% endblock %}

{% block content %}   
	<div class="panel panel-default">
	  <div class="panel-heading">
	  <div class="row">
		  <div class="col-md-6">
		    <h3 class="panel-title">{{ account|getaccountname }}</h3>
		  </div>
		  <div class="col-md-6 text-right">
		  <h3 class="panel-title">{{ account.balance }} {{ account.currency|upper }}</h3>
		  </div>
	  </div>
	  </div>
	  <div class="panel-body">
	  
	  
	<div class="row">
	  <div class="col-md-4">
	  <table class="table no-border table-condensed" style="font-size:18px;">
	  <tr>
	  	<td class="no-top-solid-border" width="10%">Wallet</td>
	  	<td class="no-top-solid-border text-right" width="40%">{{ wallet.name }}</td>
	  </tr>
	  <tr>
	  	<td class="no-top-solid-border" width="10%">Currency</td>
	  	<td class="no-top-solid-border text-right" width="40%">{{ account.currency|upper }} ({{ account.currency_symbol }})</td>
	  </tr>
	  <tr>
		<td width="10%">Last activity</td>
	 	<td width="40%" class="text-right">{{ transactions.0.time_human }}</td>
	  </tr>
	  <tr>
	  	<td>Balance</td>
	  	<td class="text-right fixed-width-font"><strong>{{ account.balance }}</strong> {{ account.currency|upper }}</td>
	  </tr>
	  </table>
	  </div>
		<div class="col-md-6">
			
			<table class="table no-border fat-table">
			<tr>
				<td><h4>Addresses</h4></td>
			</tr>
		  	{% for address in account.addresses %}
		  	<tr>
		  		<td width="200"><span class="address-label label-default">{{ account.currency_symbol }} {{ address }}</span></td>
		  		<td>
		  		{% if address.alias %}
					<div id="link_{{ address }}"><span class="addressalias-label address-label label-default"><span class="glyphicon glyphicon-tag very-small-info-icon"></span> <a href="javascript:void(0)" onclick="editAlias('{{ address }}')">{{ address.alias }}</a></span></div>
		  		{% else %}
		  			<div id="link_{{ address }}"><span class="faded addressalias-label address-label label-default"><span class="glyphicon glyphicon-tag very-small-info-icon"></span> <a href="javascript:void(0)" onclick="editAlias('{{ address }}')">add an alias</a></span></div>
		  		{% endif %}
		  			<div class="no-display" id="edit_{{ address }}">
						<form onsubmit="sendAddressAlias('{{ address }}'); return false;" class="form-inline" role="form" id="set_alias_form_{{ address }}" action="{% url 'accounts:set_address_alias' %}">
						  {% csrf_token %}
						  <div class="form-group">
						    <input type="text" class="form-control tiny-text-field" name="alias" id="new_alias_{{ address }}" placeholder="enter alias">
						  </div>
						  <input type="hidden" name="address" value="{{ address }}">
						  <button type="button" onclick="sendAddressAlias('{{ address }}')" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle"></span></button>
						  <button type="button" onclick="$('div#edit_{{ address }}').toggle(); $('div#link_{{ address }}').toggle(); return false;" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span></button>
						</form>
					</div>
		  		</td>
		  		<td>
		  		<button data-toggle="modal" data-target="#myModal" title="show QR code" type="button" onclick="updateQRImage('{{ address }}')" class="btn btn-success btn-xs"><i class="fa fa-qrcode"></i></span></button>
		  		</td>
		  	</tr>
		  	{% endfor %}
		  	<tr>
			  	<td>
			  		<form method="post" class="form-inline" role="form" id="create_new_address_form" action="{% url 'accounts:create_new_address' account.provider_id account.identifier %}">
			  		{% csrf_token %}
			  		<input type="submit" class="btn btn-info btn-xs" type="button" name="fsdf" value="+ create new addess"/>
			  		</form>
			  	</td>
		  	</tr>
			</table>
  	  </div>
	</div>
	
  </div>
  
</div>


<ul class="nav nav-tabs">
	<li class="active grey-tab"><a href=""><strong>Transactions</strong></a></li>
	<li class=""><a href=""><strong>Addresses</strong></a></li>
</ul>

<table class="table table-hover table-striped bordered">
   <thead>
     <tr class="" style="background-color:#f5f5f5;">
         <th width="27"></th>
         <th class="hidden-xs" width="267">To</th>
         <th class="hidden-xs" width="267">From</th>
         <th width="160">Comment</th>
         <th width="40" class="hidden-xs text-center">Conf.</th>
         <th width="35" class="text-center">Info</th>
         <th width="100" class="text-center">When</th>
         <th width="150" class="text-right">Amount</th>
     </tr>
    </thead>
    <tr style="display:none;">
       <td>
       bogus row
       </td>
    </tr>
     {% if transactions %}
     {% for transaction in transactions %} 
     {% if transaction.confirmations > 6 or transaction.category == "move" %}
       <tr>
     {% else %}
       <tr style="opacity: 0.4;">
     {% endif %}
     
      <td>
        <div class="text-center">
        {% if transaction.category == 'receive' %}
        <span data-toggle="tooltip" title="{{ transaction.category }}" class="category-icon glyphicon glyphicon-circle-arrow-down"></span>
        {% elif transaction.category == 'send' %}
        <span data-toggle="tooltip" title="{{ transaction.category }}" class="category-icon glyphicon glyphicon-circle-arrow-up"></span>
        {% elif transaction.category == 'move' %}
        <span data-toggle="tooltip" title="{{ transaction.category }}" class="category-icon glyphicon glyphicon-circle-arrow-right"></span>
        {% endif %}
        </div>
        <div class="visible-xs text-center"><span class="glyphicon {{ transaction.icon }}"></span></div>
      </td>
     
     {% if transaction.category = 'move' %}
     		<td class="hidden-xs"><span style="color:#ccc;">this account</span></td>
     {% elif transaction.category == 'receive' %}
  {% if transaction.address.alias %}
   	<td class="hidden-xs" nowrap><span class="addressalias-label address-label label-default"><span class="glyphicon glyphicon-tag very-small-info-icon"></span> {{ transaction.address.alias }}</span></td>
     	  {% else %}
     	    <td class="hidden-xs" nowrap><span class="address-label label-default">{{ transaction.currency_symbol }} {{ transaction.address }}</span></td>
     	  {% endif %}
      {% elif transaction.category == 'send' %}
      
       {% if transaction.addressbook_name %}
       	<td class="hidden-xs" nowrap><span class="addressbook-label address-label label-default">{{ transaction.currency_symbol }} {{ transaction.addressbook_name }}</span></td>
       {% else %}
       	<td class="hidden-xs" nowrap><span class="address-label label-default">{{ transaction.currency_symbol }} {{ transaction.address }}</span></td>
       {% endif %}
     
     {% endif %}

         {% if transaction.category == 'receive' %}
          {% if transaction.source_address.getAddressBookName %}
          	<td class="hidden-xs" nowrap><span class="addressbook-label address-label label-default">{{ transaction.currency_symbol }} {{ transaction.source_address|getaddressbookname }} <span class="small-info-icon glyphicon glyphicon-info-sign" title="" data-toggle="tooltip" data-original-title="{{ sender_address_tooltip_text }}"></span></span></td>
          {% else %}
          	<td class="hidden-xs" nowrap><span class="sender-address address-label label-default">{{ transaction.currency_symbol }} {{ transaction.details.sender_address }} <span class="small-info-icon glyphicon glyphicon-info-sign" title="" data-toggle="tooltip" data-original-title="{{ sender_address_tooltip_text }}"></span></span></td>
          {% endif %}
         
         {% elif transaction.category == 'send' %}
         
          <td class="hidden-xs fixed-width-font"><span style="color:#ccc;">this account</span></td>
         
         {% elif transaction.category == 'move' %}
         	<td class="hidden-xs" nowrap><a href="{% url 'accounts:details' transaction.otheraccount.provider_id transaction.otheraccount.identifier %}" class="btn btn-default btn-xs">{{ transaction.currency_symbol }} <strong>{{ transaction.otheraccount|getaccountname }}</strong></a></td>
         {% endif %}
         
         <td>{% if transaction.comment %}{{ transaction.comment }}{% else %}-{% endif %}</td>    

         <td class="hidden-xs text-center"><span style="color: {{ transaction.status_color }};" class="bigger-icon glyphicon {{ transaction.status_icon }}" title="{{ transaction.tooltip }}" data-toggle="tooltip"></span></td>
         <td class="text-center">{% if transaction.txid %}<a href="{% url 'transactions:details' transaction.provider_id transaction.txid %}"><span data-toggle="tooltip" title="View transaction details" class="bigger-icon glyphicon glyphicon-info-sign"></span></a>{% endif %}</td>
         <td width="120" class="text-center">{{ transaction.time_pretty }}</td>
         <td width="200" class="text-right" style="font-family: courier;"><span class="amount {% if transaction.amount > 0 %}in{% else %}out{% endif %}">{{ transaction.amount }}</span> {{ transaction.currency|upper }}</td>
     </tr>
     {% endfor %}
     {% else %}
     <tr>
         <td colspan=8><center><em>No data</em></center></td>
     </tr>
     {% endif %}
 </table>

     <div class="text-center panel-body">
     <ul class="pagination no-margin">
       <li {% if current_page == prev_page %}class="disabled"{% endif %}><a href="{% url 'accounts:details' account.provider_id account.identifier prev_page %}">&laquo;</a></li>
       <li><a href="{% url 'accounts:details' account.provider_id account.identifier levels.0.2 %}">-1000</a></li>
       <li><a href="{% url 'accounts:details' account.provider_id account.identifier levels.0.1 %}">-100</a></li>
       <li><a href="{% url 'accounts:details' account.provider_id account.identifier levels.0.0 %}">-10</a></li>
       <li><a href="{% url 'accounts:details' account.provider_id account.identifier 1 %}">1st page</a></li>
       <li><a href="{% url 'accounts:details' account.provider_id account.identifier levels.1.0 %}">+10</a></li>
       <li><a href="{% url 'accounts:details' account.provider_id account.identifier levels.1.1 %}">+100</a></li>
       <li><a href="{% url 'accounts:details' account.provider_id account.identifier levels.1.2 %}">+1000</a></li>
       <li {% if transactions|length < transactions_per_page %}class="disabled"{% endif %}><a href="{% url 'accounts:details' account.provider_id account.identifier next_page %}">&raquo;</a></li>
     </ul>
     </div>
    
	 <div class="well well-sm row" style="margin: 20px;">
	 	<div class="col-md-1"><strong>Legend:</strong></div>
  	 	<div class="col-md-2"><span class="addressalias-label address-label label-default"><span class="glyphicon glyphicon-tag very-small-info-icon"></span> local address alias</span></div>
  	 	<div class="col-md-2"><span class="addressbook-label address-label label-default">$ address book entry</span></div>
  	 	<div class="col-md-4"><span class="sender-address address-label label-default">$ resolved address from ScriptSig <span class="small-info-icon glyphicon glyphicon-info-sign" title="" data-toggle="tooltip" data-original-title="{{ sender_address_tooltip_text }}"></span></span></div>
  	 	<div class="col-md-2"><a href="javascript:void(0)" class="btn btn-default btn-xs">$ <strong>account name</strong></a></div>
  	 </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">QR code</h4>
      </div>
      <div class="modal-body text-center">
  	  <img id="qrthumb" src="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
