{% extends "dashboard/base.html" %}
{% load url from future %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block site_brand %}{{ globals.site_brand }}{% endblock %}

{% block content %} 
<form action="{% url 'accounts:create' %}" method="post" role="form">
{% csrf_token %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Create a new account</h3>
    </div>
    <div class="panel-body">
    {% if main_error %}
    <div class="alert alert-danger">{{ main_error }}</div>
    {% endif %}

      <div class="form-group {% if form.errors.account_name %}has-error{% endif %}">
        <label for="account_name">Account name</label>
        <input type="text" class="form-control" id="account_name" name="account_name" placeholder="account name" value="{{ form.account_name.value }}">
      	{% if form.errors.account_name %}
      	{{ form.errors.account_name }}
      	{% endif %}
      </div>
      <div class="form-group">
      {% for provider in providers %}
        <div class="radio">
          <label>
            <input type="radio" name="provider_id" id="provider_id" value="{{ provider.id }}" {% ifequal form.provider_id.value|stringformat:"s" provider.id|stringformat:"s" %}checked{% endifequal %}>
            {{ provider.name }}
          </label>
        </div>
       {% endfor %}
	     {% if form.errors.provider_id %}
	   	{{ form.errors.provider_id }}
	   	{% endif %}
      </div>
    
     </div>
     <div class="panel-footer">
      <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;create</button> 
      <a class="btn btn-primary" href="{% url 'accounts:index' %}"><span class="glyphicon glyphicon-remove"></span>&nbsp;cancel</a>
      </div>
    </div>
    </form>
    {% endblock %}
