{% extends "dashboard/base.html" %}
{% load url from future %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block site_brand %}{{ globals.site_brand }}{% endblock %}

{% block content %}   
	<div class="panel panel-primary">
	  <div class="panel-heading">
	  <div class="row">
		  <div class="col-md-6">
		    <h3 class="panel-title">{% if account.name %}{{ account.name }}{% else %}{{ account.alternative_name }}{% endif %}</h3>
		  </div>
		  <div class="col-md-6 text-right">
		  <h3 class="panel-title">{{ account.balance }} {{ account.currency|upper }}</h3>
		  </div>
	  </div>
	  </div>
	  <div class="panel-body">
	  
	  
	<div class="row">
	  <div class="col-md-5">
	  <table class="table no-border table-condensed">
	  <tr>
	  	<td>
	  	<h4>Details</h4>
	  	</td>
	  </tr>
	  <tr>
	  	<td class="no-top-solid-border" width="10%">Currency</td>
	  	<td class="no-top-solid-border text-right" width="40%">{{ currency_name }} ({{ currency_symbol }})</td>
	  </tr>
	  <tr>
		<td width="10%">Last activity</td>
	 	<td width="40%" class="text-right">{{ transactions.0.time_human }}</td>
	  </tr>
	  <tr>
	  	<td>Balance</td>
	  	<td class="text-right fixed-width-font"><strong>{{ account.balance }}</strong> {{ account.currency|upper }}</td>
	  </tr>
	  </table>
	  </div>
		<div class="col-md-7">
			
			<table class="table no-border fat-table">
			<tr>
				<td><h4>Addresses</h4></td>
			</tr>
		  	{% for address in account.addresses %}
		  	<tr>
		  		<td><span class="address-label label-default">{{ account.currency_symbol }} {{ address }}</span></td>
		  		<td>
		  		{% if address.aliases.0 %}
					<div id="link_{{ address }}"><a href="#" onclick="$('div#edit_{{ address }}').toggle(); $('div#link_{{ address }}').toggle(); return false;">{{ address.aliases.0.alias }}</a></div>
		  		{% else %}
		  			<div id="link_{{ address }}"><a href="#" onclick="$('div#edit_{{ address }}').toggle(); $('div#link_{{ address }}').toggle(); return false;">add alias</a></div>
		  		{% endif %}
		  			<div class="no-display" id="edit_{{ address }}">
						<form onsubmit="sendAddressAlias('{{ address }}'); return false;" class="form-inline" role="form" id="set_alias_form_{{ address }}" action="{% url 'accounts:set_address_alias' %}">
						  {% csrf_token %}
						  <div class="form-group">
						    <input type="text" class="form-control tiny-text-field" name="alias" id="new_alias_{{ address }}" placeholder="enter alias">
						  </div>
						  <input type="hidden" name="address" value="{{ address }}">
						  <button type="button" onclick="sendAddressAlias('{{ address }}')" class="btn btn-success btn-xs">+</button>
						  <button type="button" onclick="$('div#edit_{{ address }}').toggle(); $('div#link_{{ address }}').toggle(); return false;" class="btn btn-danger btn-xs">-</button>
						</form>
					</div>
		  		</td>
		  	</tr>
		  	{% endfor %}
		  	<tr>
			  	<td>
			  		<form method="post" class="form-inline" role="form" id="create_new_address_form" action="{% url 'accounts:create_new_address' account.addresses.0 %}">
			  		{% csrf_token %}
			  		<input type="submit" class="btn btn-info btn-xs" type="button" name="fsdf" value="create new addess"/>
			  		</form>
			  	</td>
		  	</tr>
			</table>
  	  </div>
	</div>
	
	<h4>Transactions</h4>
  </div>
  	

     <table class="smaller-font-size table table-hover table-striped table-condensed">
      <thead>
        <tr class="top-solid-border">
            <th width="30" style="background-color:#f5f5f5;"></th>
            <th class="hidden-xs" width="200" style="background-color:#f5f5f5;">To</th>
            <th class="hidden-xs" width="30" style="background-color:#f5f5f5;">From</th>
            <th width="200" style="background-color:#f5f5f5;">Comment</th>
            <th width="40" class="hidden-xs text-center" style="background-color:#f5f5f5;">Conf.</th>
            <th width="100" style="background-color:#f5f5f5;">When</th>
            <th width="150"style="background-color:#f5f5f5;" class="text-right">Amount</th>
        </tr>
       </thead>
        {% if transactions %}
        {% for transaction in transactions %} 
        {% if transaction.confirmations > 6 or transaction.category == "move" %}
          <tr>
        {% else %}
          <tr style="color: #bbb;">
        {% endif %}
        
         <td>
           <div class="text-center">
           {% if transaction.category = 'receive' %}
           <span data-toggle="tooltip" title="{{ transaction.category }}" class="category-icon glyphicon glyphicon-circle-arrow-down"></span>
           {% elif transaction.category = 'send' %}
           <span data-toggle="tooltip" title="{{ transaction.category }}" class="category-icon glyphicon glyphicon-circle-arrow-up"></span>
           {% elif transaction.category = 'move' %}
           <span data-toggle="tooltip" title="{{ transaction.category }}" class="category-icon glyphicon glyphicon-circle-arrow-right"></span>
           {% endif %}
           </div>
           <div class="visible-xs text-center"><span class="glyphicon {{ transaction.icon }}"></span></div>
         </td>
        
	       {% if transaction.category = 'move' %}
	       		<td class="hidden-xs"><span style="color:#ccc;">this account</span></td>
	       {% elif transaction.category = 'receive' %}
			  {% if transaction.address.aliases.0.alias %}
		    	<td class="hidden-xs" nowrap><span class="addressalias-label address-label label-default"><span class="glyphicon glyphicon-tag very-small-info-icon"></span> {{ transaction.address.aliases.0.alias }}</span></td>
	       	  {% else %}
	       	    <td class="hidden-xs" nowrap><span class="address-label label-default">{{ transaction.currency_symbol }} {{ transaction.address }}</span></td>
	       	  {% endif %}
	        {% elif transaction.category = 'send' %}
	        
		        {% if transaction.addressbook_name %}
		        	<td class="hidden-xs" nowrap><span class="addressbook-label address-label label-default">{{ transaction.currency_symbol }} {{ transaction.addressbook_name }}</span></td>
		        {% else %}
		        	<td class="hidden-xs" nowrap><span class="address-label label-default">{{ transaction.currency_symbol }} {{ transaction.address }}</span></td>
		        {% endif %}
	       
	       {% endif %}

            {% if transaction.category = 'receive' %}
            
	            {% if transaction.addressbook_name %}
	            	<td class="hidden-xs" nowrap><span class="addressbook-label address-label label-default">{{ transaction.currency_symbol }} {{ transaction.addressbook_name }} <span class="small-info-icon glyphicon glyphicon-info-sign" title="" data-toggle="tooltip" data-original-title="{{ sender_address_tooltip_text }}"></span></span></td>
	            {% else %}
	            	<td class="hidden-xs" nowrap><span class="sender-address address-label label-default">{{ transaction.currency_symbol }} {{ transaction.details.sender_address }} <span class="small-info-icon glyphicon glyphicon-info-sign" title="" data-toggle="tooltip" data-original-title="{{ sender_address_tooltip_text }}"></span></span></td>
	            {% endif %}
            
            {% elif transaction.category = 'send' %}
            
	            <td class="hidden-xs fixed-width-font"><span style="color:#ccc;">this account</span></td>
            
            {% elif transaction.category = 'move' %}
            	<td class="hidden-xs" nowrap><a href="/accounts/details/{{ transaction.otheraccount_address.0 }}" class="btn btn-default btn-xs">{{ transaction.currency_symbol }} <strong>{{ transaction.otheraccount }}</strong></a></td>
            {% endif %}
            
            <td>{% if transaction.comment %}{{ transaction.comment }}{% else %}-{% endif %}</td>    

            <td class="hidden-xs text-center"><span style="color: {{ transaction.status_color }};" class="bigger-icon glyphicon {{ transaction.status_icon }}" title="{{ transaction.tooltip }}" data-toggle="tooltip"></span></td>
            <td>{{ transaction.time_pretty }}</td>
            <td class="text-right" style="font-family: courier;"><strong>{{ transaction.amount }}</strong> {{ transaction.currency|upper }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan=7><center><em>No data</em></center></td>
        </tr>
        {% endif %}
    </table>
    
    
	 <div class="well well-sm row" style="margin: 20px;">
	 	<div class="col-md-1"><strong>Legend:</strong></div>
  	 	<div class="col-md-2"><span class="addressalias-label address-label label-default"><span class="glyphicon glyphicon-tag very-small-info-icon"></span> local address alias</span></div>
  	 	<div class="col-md-2"><span class="addressbook-label address-label label-default">$ address book entry</span></div>
  	 	<div class="col-md-4"><span class="sender-address address-label label-default">$ resolved address from ScriptSig <span class="small-info-icon glyphicon glyphicon-info-sign" title="" data-toggle="tooltip" data-original-title="{{ sender_address_tooltip_text }}"></span></span></div>
  	 	<div class="col-md-2"><a href="#" class="btn btn-default btn-xs">$ <strong>account name</strong></a></div>
  	 </div>

  
</div>
{% endblock %}
