{% load staticfiles %}
{% load i18n %}
{% load dashboard_extras %}
<!DOCTYPE html>
<html>
<head>
<title>{% block page_title %}PAGE_TITLE{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{% static 'dashboard/images/icon-coin.png' %}">
<!-- Bootstrap -->
<link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<!-- added theme from http://startbootstrap.com/templates/sb-admin/ -->
<link href="{% static 'dashboard/css/sb-admin.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'dashboard/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'dashboard/css/extra.css' %}" rel="stylesheet" media="screen">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>

<script src="{% static 'dashboard/js/extra.js' %}"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <div class="container">
    	<!--  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">  -->
        <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'dashboard/img/logo.png' %}"> {% block site_brand %}SITE_BRAND{% endblock %}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                <!--  page sections start -->
                
                {% for section in page_sections %}
	                {% if section.active  %}
	                 <li class="active"><a href="{{ section.path }}">{% trans section.title %}</a></li>
	                {% else %}
	                 <li><a href="{{ section.path }}">{% trans section.title %}</a></li>
	                {% endif %}
                {% endfor %}
                <!--  page sections stop -->
                </ul>
                
                
                
	            <ul class="nav navbar-nav navbar-right navbar-user">
		           <li class="dropdown alerts-dropdown messages-dropdown">
	              <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-bell"></i> Alerts <span class="badge {% if system_alerts %}badge-alert{% endif %}">{{ system_alerts|length }}</span> <b class="caret"></b></a>
	              
	              <ul class="dropdown-menu">
	              {% if system_alerts %}
	              
	                <li class="dropdown-header">{{ system_alerts|length }} active alerts</li>
	                
					{% for system_alert in system_alerts %}
					<li class="divider"></li>
	                <li class="message-preview">
	                  <a href="#">
	                    <span class="avatar"><span class="glyphicon glyphicon-exclamation-sign"></span></span>
	                    <span class="name">ERROR:</span>
	                    <span class="message">{{ system_alert.message }}</span>
	                    <span class="time"><i class="icon-time"></i> {{ system_alert.when|date:'H:i' }}</span>
	                  </a>
	                </li>
	                {% endfor %}
	                <!-- <li><a href="#">View Inbox <span class="badge">7</span></a></li>  -->
				  {% else %}
					<li class="dropdown-header">No alerts at the moment</li>
	              {% endif %}
	              </ul>
	            </li>
	           
	           
	            <li class="dropdown user-dropdown">
	              <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-user"></i> {{ user.first_name }} {{ user.last_name  }} <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                       <li class="dropdown-submenu dropdown">
                           <a href="#" data-toggle="dropdown"><i class="fa fa-keyboard-o"></i> {% trans "Language" %}</a>
                           <ul class="dropdown-menu">
                               {% get_language_info_list for LANGUAGES as languages %}
                               {% for language in languages %}
                               <li>
                               	<a href="#" onclick="document.setLang{{ language.code }}.submit();return false;">{{ language.name_local }}</a>
                                   <form name="setLang{{ language.code }}" action="/i18n/setlang/" method="POST">{% csrf_token %}
                                   <input name="next" type="hidden" value="{{ redirect_to }}" />
                                   <input type="hidden" name="language" value="{{ language.code }}" />
                                   </form>
                               </li>
							{% endfor %}
                           </ul>
	                <li class="divider"></li>
	                <li><a href="{% url 'login:processLogout' %}"><i class="fa fa-power-off"></i> Log Out</a></li>
	              </ul>
	            </li>
	          </ul>
                
                <!-- <a data-toggle="modal" href="#unlockDialog" class="btn btn-danger navbar-btn btn-sm navbar-right"><img src="{% static 'dashboard/images/locked-icon.png' %}"/></a> -->

            </div>
            <!-- /.navbar-collapse -->
        </nav>
    <ol class="breadcrumb">
    {% for page_section in breadcrumbs %}
      {% if page_section.active %}
	  <li class="active">{% trans page_section.name %}</li>
	  {% else %}
	  <li><a href="{{ page_section.path }}" >{% trans page_section.name %}</a></li>
	  {% endif %}
	{% endfor %}
	</ol>
   
   {% if system_errors %}
   {% for error in system_errors %}
    <div class="alert alert-danger">
      <span><strong>{{error.message}}</strong></span>
    </div>
    {% endfor %}
   {% endif %}
   
	{% if messages %}
	{% for message in messages %}
		<div class="alert alert-dismissable alert-{{ message.extra_tags }}">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<div class="row"><div class="col-md-1 tiny-col"><span class="glyphicon glyphicon-{{ message.extra_tags|getalerticon }} message-icon"></span></div><div class="col-md-10 alert-message">{{ message }}</div></div>
		</div>
		{% endfor %}
	{% endif %}
   
   {% block content %}{% endblock %}

    </div>
    <!-- /container -->
    
  <div data-backdrop="false" data-keyboard="true" class="modal fade" id="unlockDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Unlock wallet</h4>
        </div>
        <div class="modal-body text-center">
          <div class="btn-group" data-toggle="buttons">
          {% for currency in currency_symbols %}
		  <label class="btn btn-default">
		    <input type="radio" name="options" id="option1"><span class="huge-symbol">{{ currency_symbols|keyvalue:currency }}</span>
		  </label>
		  {% endfor %}
		  </div>
		  
		   <div class="row">&nbsp;</div>
            <div class="row">
              <div class="col-md-12 text-center">
                  <div class="form-group {% if form.from_address.errors %}has-error{% endif %}">
                    <label for="passphrase"><h4>Passphrase</h4></label>
                    <input type="password" class="form-control fixed-width-font" id="passphrase" name="passphrase" placeholder="passphrase" value="">
                    {{ form.passphrase.errors }}
                  </div>
              </div>
            </div>
            
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
	    
  <script type="text/javascript">
  $(document).ready(function() {
  	$('[data-toggle="tooltip"]').tooltip({'placement': 'top', 'html': true});
  });
  var ratesProxyUrl = "{% url 'dashboard:proxy' %}";
  var ratesUrl = {
			  'btc_usd': "https://www.bitstamp.net/api/ticker/", 
			  'ltc_usd': "https://btc-e.com/api/2/ltc_usd/ticker",
			  'ftc_usd': "http://api.feathercoin.com/?output=usd&amount=1&json=1",
			  'nmc_usd': "https://vircurex.com/api/get_info_for_1_currency.json?base=NMC&alt=USD",
			  'nvc_usd': "https://vircurex.com/api/get_info_for_1_currency.json?base=NVC&alt=USD",
			  };
  </script>
    
</body>
</html>