{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>{% block page_title %}PAGE_TITLE{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'dashboard/css/extra.css' %}" rel="stylesheet" media="screen">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <div class="container">
        <nav class="navbar  navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{% block site_brand %}SITE_BRAND{% endblock %}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                <!--  page sections start -->
                
                {% for section in page_sections %}
	                {% if section.active  %}
	                 <li class="active"><a href="{{ section.path }}">{{ section.title }}</a></li>
	                {% else %}
	                 <li><a href="{{ section.path }}">{{ section.title }}</a></li>
	                {% endif %}
                {% endfor %}
                <!--  page sections stop -->
                </ul>
                    <form class="navbar-form navbar-right" role="search">
                      <div class="btn-group">
                          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">User logged in <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Unlock wallet</a></li>
                            <li><a href="#">Preferences</a></li>
                            <li><a href="#">Log out</a></li>
                        </ul></li>
                        </div>
                    </form>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
   
    <ol class="breadcrumb">
    {% for page_section in breadcrumbs %}
	  <li><a href="{{ page_section.path }}">{{ page_section.name }}</a></li>
	{% endfor %}
	</ol>
   
   {% if globals.connector_errors %}
   {% for error in globals.connector_errors %}
    <div class="alert alert-danger">
      <span><strong>{{error.message}}</strong></span>
    </div>
    {% endfor %}
   {% endif %}
   
   
   
   
   {% block content %}{% endblock %}

    </div>
    <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/extra.js' %}"></script>
</body>
</html>