{% extends "dashboard/base.html" %}
{% load url from future %}
{% load dashboard_extras %} 
{% block page_title %}
{{ page_title }}
{% endblock %}

{% block site_brand %}
{{ globals.site_brand }}
{% endblock %} 

{% block content %}
<!-- 
<div class="row">
	{% for currency, balance in balances.iteritems %}
	<div class="col-sm-6 col-md-3">
		<div class="thumbnail">
			<div class="caption text-right">
				<h3 style="font-family: courier;">{{ currency_symbols|keyvalue:currency }} {{ balance }}</h3>
				<p></p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
-->
<div class="row">


	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="icon-time"></i> Balances
				</h3>
			</div>
			
			{% for currency, balance in balances.iteritems %}
			  <a class="list-group-item" href="#"> <span class="badge"> {{ currency_symbols|keyvalue:currency }} {{ balance }}</span> <i class="icon-arrow"></i> {{ currency_names|keyvalue:currency }} </a>
			{% endfor %}
			</div>
				
		    <div class="panel-body">
			<div class="list-group">
	
			<div class="text-right">
				<a href="{% url 'accounts:index' %}">View All Accounts <i class="icon-circle-arrow-right"></i></a>
			</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="icon-money"></i> Recent Transactions
				</h3>
			</div>
			<table class="table table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th class="header">Account <i class="icon-sort"></i></th>
						<th class="header">Type <i class="icon-sort"></i></th>
						<th class="header">Date <i class="icon-sort"></i></th>
						<th class="header text-right">Amount <i class="icon-sort"></i></th>
					</tr>
				</thead>
				<tbody>
				{% for transaction in transactions %}
				{% if transaction.category != 'move' %}
					<tr>
						<td>{{ transaction.account }}</td>
						<td><span class="glyphicon {{ transaction.icon }}"></span></td>
						<td>{{ transaction.time_pretty }}</td>
						<td class="text-right">{{ transaction.currency_symbol }} {{ transaction.amount }}</td>
					</tr>
				{% endif %}
				{% endfor %}
				</tbody>
			</table>
			<div class="panel-body">
				<div class="table-responsive">

				</div>
				
				<div class="text-right">
					<a href="{% url 'transactions:index' %}">View All Transactions <i class="icon-circle-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
