{% extends "dashboard/base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block site_brand %}{{ globals.site_brand }}{% endblock %}

{% block content %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Account status</h3>
            </div>
            <div class="panel-body">
                <table
                    class="table table-hover table-striped no-margin-bottom">
                    <tr>
                        <th>Name</th>
                        <th>Addresses</th>
                        <th>Last activity</th>
                        <th class="text-right">Balance</th>
                    </tr>
                    {% for account in accounts %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td style="font-family: courier;">{{ account.address }}</td>
                        <td>{{ account.last_activity }}</td>
                        <td class="text-right" style="font-family: courier;">{{ account.amount }} {{ account.currency }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Last transactions</h3>
            </div>
            <div class="panel-body">
                <table
                    class="table table-hover table-striped no-margin-bottom">
                    <tr>
                        <th>Account</th>
                        <th>Type</th>
                        <th>Confirmations</th>
                        <th>When</th>
                        <th class="text-right">Amount</th>
                    </tr>
                    {% for transaction in transactions %} 
                    {% if transaction.confirmations > 10 %}
                      <tr>
                    {% else %}
                      <tr style="color: #bbb;">
                    {% endif %}
                        <td>{{ transaction.account }}</td>
                        <td>{{ transaction.category }}</td>
                        <td>{{ transaction.confirmations }}</td>
                        <td>{{ transaction.timereceived_pretty }}</td>
                        <td class="text-right"
                            style="font-family: courier;">{{ transaction.amount }} {{ transaction.currency }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}
