{% extends "dashboard/base.html" %}
{% load dashboard_extras %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block site_brand %}{{ globals.site_brand }}{% endblock %}

{% block content %}
    <div class="row">
    {% for currency, balance in balances.iteritems %}
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <h2>{{ currency_symbols|keyvalue:currency }} {{ balance }}</h2>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-primary" href="#">Button</a> <a class="btn btn-default" href="#">Button</a></p>
            </div>
          </div>
        </div>
    {% endfor %}
      </div>

{% endblock %}
