{% extends "dashboard/base.html" %}
{% load i18n %}
{% load dashboard_extras %} 
{% block page_title %}{{ page_title }}{% endblock %}

{% block site_brand %}{{ globals.site_brand }}{% endblock %}

{% block content %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Addressbook</h3>
		  </div>
		      <table class="table table-hover table-striped">
				<thead>
					<tr style="background-color:#f5f5f5;">
						<th class="header">Name</th>
						<th class="header hidden-xs">Address</th>
						<th class="header">Currency</th>
						<th class="header">Comment</th>
						<th class="header">Entered</th>
						<th class="header text-center">Status</th>
						<th width="25" class="header text-right"></th>
						<th width="25" class="header text-right">Actions</th>
					</tr>
				</thead>
				<tbody>
				{% if book %}
				{% for address in book %}
					<tr>
						<td>
							{{ address.name }}
						</td>
						<td class="hidden-xs">
							<span class="fixed-width-font address-label label-default">{{ currency_symbols|keyvalue:address.currency }} {{ address.address }}</span>
						</td>
						<td>{{ address.currency|upper }}</td>
						<td>{{ address.comment }}</td>
						<td>{{ address.time_pretty }}</td>
						<td class="text-center fixed-width-font"><span data-toggle="tooltip" title="{{ address.status_text }}" class="glyphicon {{ address.icon }} {{ address.icon_color }}"></span></td>
						<td class="text-right">
							<form action="{% url 'addressbook:disable' address.id %}" method="post" role="form" class="form-inline">
	    					{% csrf_token %}
	    					<input type="submit" class="btn btn-warning btn-xs" value="{{ address.button_text }}" name="disable"/>
							</form>
						</td>
						<td class="text-right">
							<form action="{% url 'addressbook:delete' address.id %}" method="post" role="form" class="form-inline">
	    					{% csrf_token %}
							<input type="submit" class="btn btn-danger btn-xs" value="delete" name="delete"/>
							</form>
						</td>
					</tr>
				{% endfor %}
				{% else %}
				<tr>
					<td colspan="8" class="text-center">No addressbook entries</td>
				</tr>
				{% endif %}
				</tbody>
			</table>
                <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6"><a class="btn btn-primary" href="{% url 'addressbook:add' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;{% trans "add address" %}</a></div>
                      <div class="col-md-6"></div>
                    </div>
                </div>
			</div>

{% endblock %}
