@CHARSET "UTF-8";

.no-margin-bottom {
     margin-bottom: 0px;
}

.table-head th {
    background-color: #f5f5f5;
}

.no-display {
    display: none;
}

html {
    overflow-y: scroll; 
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.address-label {
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    color: #FFFFFF;
    display: inline;
    font-size: 95%;
    font-weight: normal;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}