@CHARSET "UTF-8";

.top-solid-border {
	border-top: 1px solid #ddd !important;
}

.no-top-solid-border {
	border-top: 0px solid #ddd !important;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.table-head th {
	background-color: #f5f5f5;
}

.no-display {
	display: none;
}

.no-border tr td {
	border: 0px !important;
}

html {
	overflow-y: scroll;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;
}

.address-label {
	border-radius: 0.25em 0.25em 0.25em 0.25em;
	color: #FFFFFF;
	background-color: #AAAAAA;
	display: inline;
	font-size: 99%;
	font-weight: normal;
	line-height: 1;
	padding: 0.3em 0.3em 0.1em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
	font-family: Monospace;
}

.sender-address {
	background-color: #826599;
	padding: 0.3em 0.3em 0.1em;
	font-weight: normal;
}

.addressbook-label {
	background-color: #7C9E41;
	font-family: Helvetica !important;
}

.addressalias-label {
	font-family: Helvetica !important;
}

.small-info-icon {
	font-size: 12px;
}

.table thead>tr>th {
	border-bottom: 0px;
}

.fixed-width-font {
	font-family: Monospace;
}

.large-text-1 {
	font-size: 25px;
}

.large-text-2 {
	font-size: 20px;
}

.small-font {
	font-size: 12px;
}
 
ul.errorlist {
	color: #B94A48;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.panel-dark-header {
	background-color: #eeeeee !important;
}

.huge-symbol {
	font-size: 70px;
}

.smaller-font-size {
	font-size: 13px;
}

.category-icon {
	font-size: 16px;	
}

.category-badge {
	background-color: #999999;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 1px 5px 3px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.bigger-icon {
	font-size: 16px;
}

/*
ul.nav li a {
	font-weight: bold;
}
*/

.holder{        
    width: 100%;
    display: block;
}

.content{
    background: #fff;
    padding: 28px 26px 33px 25px;
}

.popup{
    border-radius: 7px;
    margin: 30px auto 0;
    padding: 6px;  
    position: absolute;
    width: 400px;
    top: 29%;
    left: 50%;
    margin-left: -200px;
    margin-top: -40px;
}

body {
	margin-top: 0px;
}

.badge-large {
	font-size: 17px;
}

/* hack to make the tooltip show the whole text */
.tooltip-inner {
    white-space:pre-wrap;
    font-family: Helvetica;
    font-weight: bold;
}

.no-border-top {
	border-top: 0;
}

.no-border-radius {
	border-radius: 0;
}

.vertical-align-middle {
	vertical-align: middle;
}

table.vertical-align-middle tbody > tr > td {
	vertical-align: middle;
}

.green-font {
	color: green;
}

.red-font {
	color: red;
}

.grey-font {
	color: #999999;
}

.dark-font {
	color: #555555;
}

.black-font {
	color: #000;
}

.badge-alert {
	background-color: red;
}

.yellow-font {
	color: yellow;'
}

.tiny-text-field {
	height: 22px;
	font-size: 11px;
	padding: 4px;
}

.fat-table tr td {
	line-height: 20px !important;
}