@CHARSET "UTF-8";

.top-solid-border {
	border-top: 1px solid #ddd !important;
}

.no-top-solid-border {
	border-top: 0px solid #ddd !important;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.no-margin {
	margin: 0px !important;
}

.table-head th {
	background-color: #f5f5f5;
}

.no-display {
	display: none;
}

.no-border tr td {
	border: 0px !important;
}

html {
	overflow-y: scroll;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;
}

.address-label {
    background-color: #AAAAAA;
    border-radius: 0.25em;
    color: #FFFFFF;
    display: inline;
    font-family: Monaco, Monospace;
    font-size: 89%;
    line-height: 1;
    padding: 0.1em 0.3em 0.1em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.sender-address {
	background-color: #826599 !important;
	padding: 0.1em 0.3em;
	font-weight: normal;
	font-size: 89% !important;
}

.addressbook-label {
	background-color: #7C9E41;
	font-family: Helvetica !important;
	font-size: 99% !important;
	padding: 0.25em 0.3em 0.15em;
}

.addressalias-label {
	font-family: Helvetica !important;
	background-color: #6D7BA8;
	color: #FFF;
	font-size: 99% !important;
	padding: 0.2em 0.3em 0.1em;
}

.addressalias-label a {
	color: #FFF;
}

.addressalias-label a:hover {
	color: #DDD;
	text-decoration: none;
}

.small-info-icon {
	font-size: 12px;
}

.very-small-info-icon {
    font-size: 10px;
}

.table thead>tr>th {
	border-bottom: 0px;
}

.fixed-width-font {
	font-family: Monospace;
}

.fixed-width-font2 {
	font-family: Monaco, Monospace;
}

.large-text-1 {
	font-size: 23px;
}

.large-text-2 {
	font-size: 20px;
}

.small-font {
	font-size: 12px;
}

div.alert > strong > ul.errorlist {
	margin-bottom: 0px;
}
 
ul.errorlist {
	color: #B94A48;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.panel-dark-header {
	background-color: #eeeeee !important;
}

.huge-symbol {
	font-size: 70px;
}

.smaller-font-size {
	font-size: 13px;
}

.category-icon {
	font-size: 16px;	
}

.category-badge {
	background-color: #999999;
    border-radius: 7px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 1px 5px 3px 4px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.bigger-icon {
	font-size: 16px;
}

.huge-icon {
	font-size: 75px;
}


/*
ul.nav li a {
	font-weight: bold;
}
*/

.holder{        
    width: 100%;
    display: block;
}

.content{
    background: #fff;
    padding: 28px 26px 33px 25px;
}

.popup{
    border-radius: 7px;
    margin: 30px auto 0;
    padding: 6px;  
    position: absolute;
    width: 400px;
    top: 29%;
    left: 50%;
    margin-left: -200px;
    margin-top: -40px;
}

body {
	margin-top: 0px;
}

.badge-large {
	font-size: 17px;
}

/* hack to make the tooltip show the whole text */
.tooltip-inner {
    white-space:pre-wrap;
    font-family: Helvetica;
    font-weight: bold;
}

.no-border-top {
	border-top: 0;
}

.no-border-radius {
	border-radius: 0;
}

.vertical-align-middle {
	vertical-align: middle;
}

table.vertical-align-middle tbody > tr > td {
	vertical-align: middle;
}

.green-font {
	color: green;
}

.orange-font {
	color: #FF8000;
}

.light-blue-font {
	color: #416AB5;
}

.red-font {
	color: red;
}

.blue-font {
	color: blue;
}

.grey-font {
	color: #666;
}

.dark-font {
	color: #555555;
}

.black-font {
	color: #000;
}

.smaller-font-2 {
	font-size: 16px;
}

.badge-alert {
	background-color: red;
}

.yellow-font {
	color: yellow;'
}

.tiny-text-field {
	height: 23px;
	font-size: 11px;
	padding: 4px;
}

.fat-table tr td {
	line-height: 20px !important;
}

.col-small {
    width: 30.333%;
}

ul.navbar-nav li a {
	font-weight: bold;
}

ul.navbar-right li a {
	font-weight: normal;
}

.navbar-brand {
	padding: 6px;
}

.alert-message {
	height:38px;
	padding: 9px;
}

.tiny-col {
	width: 53px
}

.message-icon {
	font-size: 30px;
}

.faded {
	opacity: 0.4;
}

span.amount.in {
	font-weight: bold;
	color: #008000;
}
span.amount.out {
	font-weight: bold;
	color: #F00;
}

.leaflet-popup-content-wrapper {
	background: #202020 !important;
	border: 1px solid #2E2E2E !important;
}
.leaflet-popup-content {
	margin: 10px 19px !important;
	line-height: 18px !important;
	color: #EFEFEF !important;
}

.grey-tab a {
	background-color: #f5f5f5 !important;
}

.bordered {
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

.alert {
	font-weight: bold;
}

.panel-dark {
	border-color: #E5E5E5;
}

.panel-dark > .panel-heading {
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    color: #333333;
}

.panel-purple {
	border-color: #E0D1E0;
}

.panel-purple > .panel-heading {
    background-color: #E0D1E0;
    border-color: #E0D1E0;
    color: #333333;
}

.panel-red {
	border-color: #E0B4BA;
}

.panel-red > .panel-heading {
    background-color: #E0B4BA;
    border-color: #E0B4BA;
    color: #333333;
}

.panel-green {
	border-color: #B7C7A7;
}

.panel-green > .panel-heading {
    background-color: #B7C7A7;
    border-color: #B7C7A7;
    color: #333333;
}

.fat-row {
	padding: 10px;
}